.BoardAll_layout {
  display: grid;
  justify-content: center;
}

.BoardTop_layout {
  margin-top: 60px;
  display: grid;
  justify-content: center;
  text-align: center;
}

.SelectButtonBoard_layout {
  margin: 50px 0px;
}

.List_title {
  color: #347988;
}

.PaginationCustom {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
