@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR&display=swap');

.navbarBottom_layout {
  display: flex;
  justify-content: space-around;
  position: fixed;
  bottom: 0;
  width: 100%;
  border-top: 1px solid #979797;
  background-color: white;
}

.navbarBottom_center {
  display: grid;
  justify-items: center;
  font-family: 'IBM Plex Sans KR', sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 14px;
}

.navbarBottom_centerlayout {
  display: grid;
  justify-items: center;
  text-decoration: none;
}

.Link_text {
  text-decoration: none;
  color: black;
}
