.myPageEditAll {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.myPageEdit {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 25%;
}

.userEditForm {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
