@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR&display=swap');

.myPageEditAll {
  display: flex;
  flex-direction: column;
}

.myPageEdit {
  display: flex;
  flex-direction: column;
}

.userEditForm {
  display: flex;
  flex-direction: column;
  margin-top: 5%;
}

.userEditForm p {
  position: relative;
  width: 100%;
  height: 21px;
  font-family: 'IBM Plex Sans KR';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 130%;
  display: flex;
  align-items: center;
  letter-spacing: -0.5px;
  color: black;
  left: 0;
  margin-left: 10%;
  margin-bottom: 1.5%;
}

.userEditForm input {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  position: relative;
  font-family: 'IBM Plex Sans KR';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 130%;
  display: flex;
  align-items: center;
  letter-spacing: -0.5px;
  box-sizing: border-box;
  position: relative;
  width: 351px;
  height: 35px;
  border-radius: 4px;
  border: none;
  padding-left: 5%;
}

.userEditName input {
  background: #e3f6e9;
  color: #797979;
}

.userEditNickname input,
.userEditPw input {
  border: 1px solid #58c981;
  color: black;
}

.userEditInfo input {
  background: #bbe7c8;
  color: #ffffff;
}

.centered {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.centered button {
  flex-direction: row;
  align-items: center;
}

.saveBtn {
  display: block;
  margin: 10px auto;
  text-align: center;
  align-items: center;
  position: relative;
  width: 351px;
  height: 46px;
  font-family: 'IBM Plex Sans KR';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  letter-spacing: -0.5px;
  color: #ffffff;
  background: #58c981;
  border-radius: 4px;
  border: none;
  margin-top: 8%;
}
